
/** 网格-背景颜色 */
.gridRow {
  fill: #fff;
}

/** 网格-奇数行颜色 */
.gridRow:nth-child(even) {
  fill:  #FFF;
}

/** 网格-下描边颜色 */
.gridRowLine {
  stroke: #E3EBF1;
}

/** 网格-左描边颜色 */
.gridTick {
  stroke: #E3EBF1;
}
